/* Body Styling */
body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url('Assets-Aniket/song6.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    color: white; 
    font-family: 'Poppins', sans-serif;
}

/* Logo Styling */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.logo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.logo:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

/* Card Styling */
.card {
    width: 100%;
    max-width: 900px;
    height: 280px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 1rem; 
    transition: all 0.3s ease-in-out; 
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
}

.card .overlay {
    transition: all 0.3s ease; 
}

.card:hover .overlay {
    opacity: 0.3; 
}

.card p {
    font-size: 1.125rem; 
}

/* Button Styling */
.btn {
    position: relative;
    overflow: hidden;
    padding: 8px 18px; 
    font-size: 0.9rem; 
    font-weight: 600;
    border-radius: 0.375rem; 
    color: #ffffff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: color 0.4s ease, background 0.4s ease, transform 0.4s ease;
    z-index: 0;
    background-color: transparent; 
}

.btn-read-more {
    background-color: #12c580; 
}

.btn-start {
    background-color: #2563EB; 
}

.btn:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.btn-read-more:hover {
    color: #000000; 
    background-color: #ffffff; 
}

.btn-start:hover {
    color: #000000; 
    background-color: #ffffff; 
}

/* Styling for the <a> tag surrounding the button */
a.btn {
    text-decoration: none; /* Remove underline */
}

/* Responsive Design for Mobile */
@media screen and (max-width: 768px) {
    .logo {
        width: 50px;
    }
    .heading {
        font-size: 1.6rem;
        margin-bottom: 40px;
        margin-left: 30px;
    }
    .cc{
        margin-bottom: 50px;
    }
}
